html {
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f5ed;
  z-index: -1;
  position: relative;
  height: 100%;
}

.main {
  /* margin-top: 100px; */
  display: inline-block;
  background-color: #f7f5ed;

}

.all-cards {

  overflow: scroll;
  z-index: -1;
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  background-color: #f7f5ed;
}

.header-logo {
  height: 75px;
  width: 220px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.nav-logos {
  height: 20px;
  width: 20px;
  filter: brightness(0);
  /* background-color: white; */
}

.material-symbols-outlined {
  color: #F4D35E;
  font-size: 25px;
}


#dropdownLogo {
  margin-left: 10px;
}

nav {
  width: 50%;
  display: flex;
  align-items: flex-end;
  /* border: 2px solid green; */
}

.account {
  display: flex;
  align-items: center;
  border: 0.5px solid #f7f5ed;
  box-shadow: none;
  border-radius: 5px;
  margin-top: 5px;
  /* padding: 0; */
  /* margin: 1px !important; */
}

.pics {
  width: 100%;
  height: 200px;
  position: relative;
  opacity: 0.7;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  color: #131B23;
  font-size: 18px;

}

.numViews {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 12px;
  font-size: 40px;
  color: #F95738;
  font-weight: bolder;
}

.container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  /* margin-top: 6px; */
  margin-right: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.location {
  margin: 0;
  color: #F95738;
  font-style: italic;
}

.resort-name {
  margin: 0;
  font-size: 22px;
}

.elevation-info {
  margin: 0;
}

.elevation-heading {
  margin: 0;
  font-size: 13px;
}

.elevation {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.rank-heading {
  margin-bottom: 0;
  margin-top: 10px;
}

.rank {
  margin: 0;
  font-size: 45px;
  color: #0D3B66;
  font-weight: bold;
}

.site-link {
  width: fit-content;
  padding: 8px;
  background-color: rgb(215, 215, 215);
  /* font-style: italic; */
  border-radius: 5px;
}

.card-heading {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* h3 {
  font-size: ;
} */

.icon-overlay {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 8px;
  margin-left: 8px;
}

.arrow-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  /* background-color: #EFE5DC; */
  border-radius: 10px;
  margin-top: 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 0px;
}

header {
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  color: #ffffff;
  background-color: #0D3B66;
  /* opacity: .9; */
  box-shadow: 0px 0px 2px 2px #ccc;
}


.cards {
  position: relative;
  background-color: #ffffff;
  width: 22%;
  height: fit-content;
  margin-top: 20px;
  box-shadow: 0px 0px 2px 2px #ccc;
  overflow: auto;
}

li {
  display: flex;
  align-items: center;
}

.nav-titles {
  margin-left: 10px;
  color: #f7f5ed;
}

.admin {
  font-size: 20px;
  color: #f7f5ed;
  margin-right: 3px;
}

.user-logo {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-color: white;
}

.user-profile {
  padding: 2px;
  /* margin-right: 5px; */
  margin: 2px;
  /* margin-top: 5px; */
  font-size: 17px;
  display: flex;
  align-items: center;
}

#user1 {
  margin-top: 5px;
  font-size: 27px;
  margin-right: 12px;
}

h2 {
  z-index: -1;
  position: relative;
  margin-top: 170px;
  font-size: 35px;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 0;
  margin-left: 20px;
}